/**
 * Created V/08/05/2009
 * Updated J/07/10/2010
 * Version 14
 *
 * Copyright 2008-2010 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * http://www.luigifab.info/apijs/
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* ################################################## Conteneurs thème 1 ### */
#dialogue, div.dialogue {
	position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; z-index:900;
	color:black; background-color:black; background-color:rgba(0, 0, 0, 0.75);
}

#dialogue.norgba { background-color:black; }

#box {
	position:relative; top:28%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden;
	border-radius:10px; -khtml-border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px; opacity:0.85;
	box-shadow:0 0 30px black; -moz-box-shadow:0 0 30px black; -webkit-box-shadow:0 0 30px black;
	background-color:white;
}

#box.photo, #box.video {
	top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible;
	border:2px solid #999; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; opacity:1;
}

#box.upload, #box.errorupload, #box.progress { min-height:12em; }


/* ################################################## Conteneurs thème 2 ### **
#dialogue, div.dialogue {
	position:fixed; top:0; left:0; bottom:0; right:0; width:100%; height:100%; z-index:900;
	color:black; background:#DDD url("../images/dialogue/background.png") no-repeat;
}

#dialogue.norgba { background-color:#DDD; }

#box {
	position:relative; top:28%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden;
	background-color:white; background-repeat:no-repeat; background-position:0.7em 0.8em;
	border:1px solid #CCC; border-radius:10px; -khtml-border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
}

#box.photo, #box.video { top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible; }
#box.upload, #box.errorupload, #box.progress { min-height:12em; } */


/* ############################################################## Icônes ### */
#box.information  h1 { background-image:url("../images/icons/32/gnome-dialog-information.png"); }
#box.confirmation h1 { background-image:url("../images/icons/32/gnome-dialog-question.png"); }
#box.waiting      h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }

#box.delete   h1 { background-image:url("../images/icons/32/gnome-delete.png"); }
#box.download h1 { background-image:url("../images/icons/32/gnome-save.png"); }
#box.error    h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.option   h1 { background-image:url("../images/icons/32/gnome-preferences-other.png"); }
#box.warning  h1 { background-image:url("../images/icons/32/gnome-dialog-warning.png"); }

#box.upload      h1 { background-image:url("../images/icons/32/gnome-mail-new.png"); }
#box.errorupload h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.progress    h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }


/* ############################################################### Texte ### */
#box h1 {
	margin:0.15em 0 0.8em; padding-left:41px; line-height:32px;
	font-size:1.6em; font-weight:bold; color:black;
	background-repeat:no-repeat; background-position:center left;
}

#box p {
	margin:1em auto;
	font-size:1em; line-height:1.4em;
}

#box p.reload {
	position:absolute; bottom:0.7em; right:1em; margin:0;
	font-size:0.8em; line-height:1.45em; color:#333;
}

#box p.reload a { color:#104E8B; }

#box dl { margin:0.3em auto 0.15em; color:#333; }
#box dt { margin-bottom:0.5em; }
#box dd { overflow:hidden; }


/* ################################################# Boutons de contrôle ### */
#box div.control { position:absolute; bottom:0.6em; right:0.7em; }

#box div.control button {
	margin-left:0.45em; padding:0.2em 0.7em 0.2em 25px;
	font-size:0.85em; color:black; cursor:pointer;
	border:1px solid #BBB; background-color:#E2E2E2; background-repeat:no-repeat; background-position:4px center;
	border-radius:4px; -khtml-border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;
}

#box div.control button.cancel  { background-image:url("../images/icons/16/silk-cancel.png"); }
#box div.control button.confirm { background-image:url("../images/icons/16/silk-accept.png"); }

#box div.control button:hover, #box div.control button:active, #box div.control button:focus { border:1px solid #AAA; background-color:#EDEDED; }


/* ############################################### Boutons de navigation ### */
#box div.navigation button {
	position:absolute; top:40%; padding:0.1em 0.3em;
	font-size:1.3em; cursor:pointer;
	border:none; color:white; background-color:#777; /* thème1(#777) thème2(#AAA) */ opacity:0.35;
	border-radius:6px; -khtml-border-radius:6px; -moz-border-radius:6px; -webkit-border-radius:6px;
}

#box div.navigation button#prev { left:-31px; }
#box div.navigation button#next { right:-31px; }

#box div.navigation button[disabled] { display:none; }
#box div.navigation button:hover, #box div.navigation button:focus, #box div.navigation button:active { opacity:0.7; }


/* ################################################# Bouton de fermeture ### */
#box div.close { position:absolute; top:3px; right:3px; }

#box div.close button.close {
	margin:0 0 5em 4em;
	border:none; background:none; cursor:pointer;
}

#box div.close button.close img { font-size:0.7em; color:#999; text-transform:uppercase; text-align:center; }


/* ################################################### Dialogue d'upload ### */
#box.progress object {
	display:block; margin:1.1em auto;
	border:1px solid black;
}

#dialogue iframe { display:none; }


/* ###################################################### Dialogue photo ### */
#box.photo dt a { display:block; position:relative; }

#box.photo dt a span {
	display:none; position:absolute; bottom:5px; right:5px; width:24px; height:24px;
	background:transparent url("../images/icons/24/gnome-zoom-in.png") no-repeat center; opacity:0.75;
}

#box.photo dt a:hover span, #box.photo dt a:active span, #box.photo dt a:focus span { display:inline-block; }

#box.photo dt img { display:block; }
#box.photo dt img.loading  { background:white url("../images/dialogue/loading.png") no-repeat center; }
#box.photo dt img.error_de { background:white url("../images/dialogue/error/de.png") no-repeat center; }
#box.photo dt img.error_en { background:white url("../images/dialogue/error/en.png") no-repeat center; }
#box.photo dt img.error_fr { background:white url("../images/dialogue/error/fr.png") no-repeat center; }

#box.video dt video { display:block; color:white; background-color:black; }


/* ############################################## Lien de téléchargement ### */
#box dd a.download {
	float:right; margin:0.4em 0.5em 0;
	font-size:0.7em; color:#AAA;
}

#box dd a.download:hover, #box dd a.download:active, #box dd a.download:focus { color:#777; }
#box dd span { margin-right:0.2em; font-size:0.85em; color:#777; }

