/**
 * Created V/08/05/2009
 * Updated V/08/03/2013
 * Version 56
 *
 * Copyright 2008-2013 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * http://www.luigifab.info/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* ################################################ Conteneurs (thème 1) ### */
#dialog {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9000;
	color:black; background-color:transparent; opacity:0;
	transition:background-color 0.8s, opacity 0.3s;
	-moz-transition:background-color 0.8s, opacity 0.3s;
	-o-transition:background-color 0.8s, opacity 0.3s;
	-webkit-transition:background-color 0.8s, opacity 0.3s;
}

#box {
	position:relative; top:27%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden;
	background-color:white; opacity:0.9;
	border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	background-clip:padding-box; -moz-background-clip:padding-box; -webkit-background-clip:padding-box;
	transition:top 0.5s; -moz-transition:top 0.5s; -o-transition:top 0.5s; -webkit-transition:top 0.5s;
	box-shadow:0 0 30px #111; -moz-box-shadow:0 0 30px #111; -webkit-box-shadow:0 0 30px #111;
}

#box.photo, #box.video { top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible; opacity:1; }
#box.photo.slideshow, #box.video.slideshow { border:2px solid #999; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }
#box.upload, #box.eeupload, #box.progress { min-height:12em; }
#box.download, #box.options { top:21%; }

#dialog.actif { background-color:black; background-color:rgba(0, 0, 0, 0.65); opacity:1; }
#dialog.actif #box { top:28%; }
#dialog.actif #box.photo, #dialog.actif #box.video { top:50%; }
#dialog.actif #box.download, #dialog.actif #box.options { top:22%; }

#dialog.deleting {
	pointer-events:none;
	transition-duration:0.4s, 0.3s; -moz-transition-duration:0.4s, 0.3s; -o-transition-duration:0.4s, 0.3s; -webkit-transition-duration:0.4s, 0.3s;
}

#dialog.deleting #box { top:30%; transition-duration:0.4s; -moz-transition-duration:0.4s; -o-transition-duration:0.4s; -webkit-transition-duration:0.4s; }
#dialog.deleting #box.photo, #dialog.deleting #box.video { top:50%; }
#dialog.deleting #box.download, #dialog.deleting #box.options { top:24%; }

#dialog.slideshow.cblack { background-color:black; }


/* ################################################ Conteneurs (thème 2) ### **
#dialog {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9000;
	color:black; background:none; opacity:0;
	transition:background-color 0.8s, opacity 0.3s;
	-moz-transition:background-color 0.8s, opacity 0.3s;
	-o-transition:background-color 0.8s, opacity 0.3s;
	-webkit-transition:background-color 0.8s, opacity 0.3s;
}

#box {
	position:relative; top:27%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden;
	background-color:white;
	border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	background-clip:padding-box; -moz-background-clip:padding-box; -webkit-background-clip:padding-box;
	transition:top 0.5s; -moz-transition:top 0.5s; -o-transition:top 0.5s; -webkit-transition:top 0.5s;
	box-shadow:0 0 30px #BBB; -moz-box-shadow:0 0 30px #BBB; -webkit-box-shadow:0 0 30px #BBB;
}

#box.photo, #box.video { top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible; }
#box.photo.slideshow, #box.video.slideshow { border:2px solid #999; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }
#box.upload, #box.eeupload, #box.progress { min-height:12em; }
#box.download, #box.options { top:21%; }

#dialog.actif { background:#DDD url("../images/dialog/background.png") no-repeat; opacity:1; }
#dialog.actif #box { top:28%; }
#dialog.actif #box.photo, #dialog.actif #box.video { top:50%; }
#dialog.actif #box.download, #dialog.actif #box.options { top:22%; }

#dialog.deleting {
	pointer-events:none;
	transition-duration:0.4s, 0.3s; -moz-transition-duration:0.4s, 0.3s; -o-transition-duration:0.4s, 0.3s; -webkit-transition-duration:0.4s, 0.3s;
}

#dialog.deleting #box { top:30%; transition-duration:0.4s; -moz-transition-duration:0.4s; -o-transition-duration:0.4s; -webkit-transition-duration:0.4s; }
#dialog.deleting #box.photo, #dialog.deleting #box.video { top:50%; }
#dialog.deleting #box.download, #dialog.deleting #box.options { top:24%; } */


/* ############################################################### Texte ### */
#box h1 {
	margin:0.15em 0 0.7em; padding-left:41px; height:32px; line-height:32px;
	font-size:1.5em; font-weight:bold; color:black;
	background-repeat:no-repeat;
}

#box.information  h1 { background-image:url("../images/icons/32/gnome-dialog-information.png"); }
#box.confirmation h1 { background-image:url("../images/icons/32/gnome-dialog-question.png"); }
#box.options  h1 { background-image:url("../images/icons/32/gnome-preferences-other.png"); }
#box.waiting  h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }
#box.upload   h1 { background-image:url("../images/icons/32/gnome-mail-new.png"); }
#box.eeupload h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.progress h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }
#box.delete   h1 { background-image:url("../images/icons/32/gnome-delete.png"); }
#box.download h1 { background-image:url("../images/icons/32/gnome-save.png"); }
#box.error    h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.print    h1 { background-image:url("../images/icons/32/gnome-document-print.png"); }
#box.warning  h1 { background-image:url("../images/icons/32/gnome-dialog-warning.png"); }

#box p { margin:1em auto; font-size:1em; line-height:140%; }
#box p abbr { border-bottom:none; }

#box p.saving {
	position:absolute; bottom:6em; left:7em; margin:0; padding-left:25px; height:20px;
	font-size:0.85em; color:#333; line-height:20px; background:url("../images/dialog/saving.svg.php?w=20&h=20") no-repeat left center;
}

#box p.reload {
	position:absolute; right:1em; bottom:0.7em; margin:0;
	font-size:0.8em; color:#333; line-height:145%;
}

#box p.reload a { color:#104E8B; }

#box dl { margin:3px auto; color:#333; }
#box dl dt { margin-bottom:7px; }
#box dl dd { overflow:hidden; }

#box ul { margin:-0.4em auto 1em; }
#box pre { margin:1em auto; font-size:0.85em; line-height:140%; }


/* ################################################# Boutons de contrôle ### */
#box div.control { position:absolute; right:0.8em; bottom:0.6em; }

#box div.control button {
	padding:0.2em 0.7em 0.2em 25px;
	font-size:0.85em; color:black; cursor:pointer;
	border:1px solid #BBB; background-color:#E2E2E2; background-repeat:no-repeat; background-position:4px center;
	border-radius:0.4em; -moz-border-radius:0.4em; -webkit-border-radius:0.4em;
	background-clip:padding-box; -moz-background-clip:padding-box; -webkit-background-clip:padding-box;
	transition:background-color 0.5s, border 0.5s; -moz-transition:background-color 0.5s, border 0.5s;
	-o-transition:background-color 0.5s, border 0.5s; -webkit-transition:background-color 0.5s, border 0.5s;
}

#box div.control button.cancel { background-image:url("../images/icons/16/silk-cancel.png"); float:left; margin-right:0.45em; }
#box div.control button.confirm { background-image:url("../images/icons/16/silk-accept.png"); }
#box div.control button.back { background-image:url("../images/icons/16/silk-arrow-clock.png"); }

#box div.control button:hover, #box div.control button:active, #box div.control button:focus { border:1px solid #AAA; background-color:#F2F2F2; }


/* ############################################### Boutons de navigation ### */
#box div.navigation button[disabled] { display:none; }
#box div.navigation button { opacity:0.7; }
#box div.navigation button:hover, #box div.navigation button:active, #box div.navigation button:focus { opacity:1; }

#box div.navigation.txt button {
	position:absolute; top:42%; padding:0; width:7em; height:22px; line-height:22px; line-height:22px;
	font-size:0.8em; color:#CCC; text-align:center; cursor:pointer; border:none; background-color:black;
	background-clip:padding-box; -moz-background-clip:padding-box; -webkit-background-clip:padding-box;
	transition:opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s; -webkit-transition:opacity 0.5s;
}

#box div.navigation.txt button#prev {
	left:-49px;
	border-radius:1em 1em 0.4em 0.4em; -moz-border-radius:1em 1em 0.4em 0.4em; -webkit-border-radius:1em 1em 0.4em 0.4em;
	transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); -o-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);
}

#box div.navigation.txt button#next {
	right:-49px;
	border-radius:1em 1em 0.4em 0.4em; -moz-border-radius:1em 1em 0.4em 0.4em; -webkit-border-radius:1em 1em 0.4em 0.4em;
	transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); -o-transform:rotate(90deg); -webkit-transform:rotate(90deg);
}

#box div.navigation.img button {
	position:absolute; top:40%; padding:0; width:25px; height:50px; opacity:0.70;
	font-size:0.85em; color:#CCC; cursor:pointer; border:none; background-color:transparent;
	transition:opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s; -webkit-transition:opacity 0.5s;
}

#box div.navigation.img button#next { right:-32px; }
#box div.navigation.img button#prev { left:-32px; }

#dialog.slideshow.cblack div.navigation button { opacity:0.4; }
#dialog.slideshow.cblack div.navigation button:hover, #dialog.slideshow.cblack div.navigation button:active,
#dialog.slideshow.cblack div.navigation button:focus { opacity:0.8; }

#dialog.slideshow.cblack div.navigation.txt button { color:white; background-color:#444; }


/* ############################################ Dialogues photo et vidéo ### */
#box.photo dl dt a { display:block; position:relative; }

#box.photo dl dt a span {
	display:inline-block; position:absolute; right:5px; bottom:5px; width:24px; height:24px; opacity:0;
	background:url("../images/icons/24/gnome-zoom-in.png") no-repeat center;
	transition:opacity 0.5s; -moz-transition:opacity 0.5s; -o-transition:opacity 0.5s; -webkit-transition:opacity 0.5s;
}

#box.photo dl dt a:hover span, #box.photo dt a:active span, #box.photo dt a:focus span { opacity:0.75; }

#box.photo dl dt img { display:block; background-color:white; background-repeat:no-repeat; background-position:center; }
#box.photo dl dt img.loading { background-image:url("../images/dialog/loading.png"); }
#box.photo dl dt img.error { background-image:url("../images/dialog/error-en.png"); }
#box.photo dl dt img.error.fr { background-image:url("../images/dialog/error-fr.png"); }
#box.photo dl dt img.svg.loading { background-image:url("../images/dialog/loading.svg.php?w=60&h=20"); }
#box.photo dl dt img.svg.error { background-image:url("../images/dialog/error.svg.php?w=200&h=200&lang=en"); }
#box.photo dl dt img.svg.error.fr { background-image:url("../images/dialog/error.svg.php?w=200&h=200&lang=fr"); }

#box.video dl dt video { display:block; overflow:hidden; color:white; background-color:black; }
#box.video dl dt video div { background-image:url("../images/dialog/tv.gif"); }
#box.video dl dt video div p { margin:0; padding:1em; line-height:135%; }
#box.video dl dt video div p.navigator { font-size:0.85em; line-height:140%; color:#CCC; }
#box.video dl dt video div a { display:inline; padding:0; min-height:inherit; color:yellow; background:none; }
#box.video dl dt video div strong { color:yellow; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&& bouton de fermeture &&& */
#box div.close { position:absolute; top:3px; right:3px; z-index:9050; }

#box div.close.txt button.close {
	margin:0 0 5em 4em; padding:0 0.6em; line-height:179%;
	font-size:0.8em; font-weight:bold; text-transform:uppercase; cursor:pointer;
	color:white; border:2px solid white; background:black; white-space:nowrap;
	border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	background-clip:padding-box; -moz-background-clip:padding-box; -webkit-background-clip:padding-box;
	transition:border 0.4s, color 0.4s; -moz-transition:border 0.4s, color 0.4s;
	-o-transition:border 0.4s, color 0.4s; -webkit-transition:border 0.4s, color 0.4s;
}

#box div.close.txt button.close:after { content:" / X"; }
#box div.close.txt button.close:hover, #box div.close.txt button.close:active, #box div.close.txt button.close:focus { color:#999; border-color:#BBB; }

#box div.close.img button.close { margin:0 0 5em 4em; border:none; background:none; cursor:pointer; }
#box div.close.img button.close img { font-size:0.7em; color:#999; text-transform:uppercase; text-align:center; }

#box div.close.img button.close:hover, #box div.close.img button.close:active, #box div.close.img button.close:focus {
	margin:-1px -1px 5em 4em; border:1px dashed #AAA;
	border-radius:10px; -moz-border-radius:10px; -webkit-border-radius:10px;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&& lien de téléchargement &&& */
#box dl dd a.download {
	float:right; margin:0.35em 0.4em 0; font-size:0.7em; color:#AAA;
	transition:color 0.4s; -moz-transition:color 0.4s; -o-transition:color 0.4s; -webkit-transition:color 0.4s;
}

#box dl dd a.download:hover, #box dl dd a.download:active, #box dl dd a.download:focus { color:#777; }
#box dl dd span { margin-right:0.2em; font-size:0.85em; color:#777; }


/* ################################################### Dialogue d'upload ### */
#box.progress object, #box.progress embed {
	display:block; margin:1.1em auto;
	border:1px solid #333; background-color:#AAA;
}

