/**
 * Created V/08/05/2009
 * Updated D/21/09/2014
 * Version 130
 *
 * Copyright 2008-2014 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * http://www.luigifab.info/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* ########################################################### Conteneurs ### */
#apijsDialog * { margin:0; padding:0; background-clip:padding-box; background-repeat:no-repeat; }

#apijsDialog {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; text-align:center; z-index:99000;
	background-color:transparent; opacity:0; transition:background-color 0.5s, opacity 0.5s;
	-moz-transition:background-color 0.5s, opacity 0.5s; -webkit-transition:background-color 0.5s, opacity 0.5s;
}

#apijsDialog.ready { background-color:rgba(0,0,0,0.65); opacity:1; }
#apijsDialog.end { transition-duration:0.3s; -moz-transition-duration:0.3s; -webkit-transition-duration:0.3s; pointer-events:none; }

#apijsBox {
	display:inline-block; position:relative; top:21%; padding:0.6em 0.8em 2.4em; width:26rem; min-height:9em; overflow:hidden; text-align:left;
	color:black; border-radius:0.8em; background-color:white; opacity:0.9;
	transition:top 0.5s; -moz-transition:top 0.5s; -webkit-transition:top 0.5s;
	box-shadow:0 0 2.5em #111; -moz-box-shadow:0 0 2.5em #111; -webkit-box-shadow:0 0 2.5em #111;
}

#apijsBox.ready { top:23%; }
#apijsBox.end { top:26%; }

#apijsBox.photo, #apijsBox.video {
	display:block; position:absolute; top:0; right:0; bottom:0; left:0; padding:0; width:auto; min-height:inherit; text-align:center;
	border-radius:0; background-color:rgba(0,0,0,0.8); opacity:1;
	transition:none; -moz-transition:none; -webkit-transition:none;
	box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none;
}

#apijsBox.options, #apijsBox.upload, #apijsBox.progress, #apijsBox.debug { min-height:12.5em; }


/* ################################################################ Texte ### */
#apijsBox h1 {
	margin:0.15em 0 0.7em; padding-left:41px; min-height:32px; line-height:32px;
	font-size:1.5em; font-weight:bold; color:black; background-position:left center; background-size:32px;
}

#apijsBox.information  h1 { background-image:url("../images/apijs/humanity-sprites.svg#dialog-information"); }
#apijsBox.confirmation h1 { background-image:url("../images/apijs/humanity-sprites.svg#dialog-question"); }
#apijsBox.options  h1 { background-image:url("../images/apijs/humanity-sprites.svg#preferences-system"); }
#apijsBox.upload   h1 { background-image:url("../images/apijs/humanity-sprites.svg#document-new"); }
#apijsBox.progress h1 { background-image:url("../images/apijs/humanity-sprites.svg#clock"); }
#apijsBox.waiting  h1 { background-image:url("../images/apijs/humanity-sprites.svg#clock"); }
#apijsBox.debug    h1 { background-image:url("../images/apijs/humanity-sprites.svg#bug"); }
#apijsBox.download h1 { background-image:url("../images/apijs/humanity-sprites.svg#document-save"); }
#apijsBox.error    h1 { background-image:url("../images/apijs/humanity-sprites.svg#dialog-error"); }
#apijsBox.print    h1 { background-image:url("../images/apijs/humanity-sprites.svg#document-print"); }
#apijsBox.warning  h1 { background-image:url("../images/apijs/humanity-sprites.svg#dialog-warning"); }

#apijsBox ul { margin:-0.4em auto 1em; }
#apijsBox pre { margin:1em auto; font-size:0.7rem; line-height:140%; white-space:pre-wrap; }

#apijsBox p { margin:1em auto; font-size:1em; line-height:140%; }

#apijsBox p.reload {
	position:absolute; right:1em; bottom:0.7em; margin:0 0 0 1em;
	font-size:0.8em; color:#333;
}

#apijsBox p.saving, #apijsBox.waiting div.bbcode p {
	position:absolute; top:4.35em; left:0.8em; margin:0;
	animation:apijsSaving 2s infinite linear; -moz-animation:apijsSaving 2s infinite linear; -webkit-animation:apijsSaving 2s infinite linear;
}

/* &&&&&&&&&&&&&&&&&&&&&&&& spécifique &&& */
#apijsBox.upload div.control.online { position:relative; left:0; padding:0.5em 0 0 12em; }
#apijsBox.upload div.control.online input { width:0; visibility:hidden; }
#apijsBox.upload div.control.online button { position:absolute; left:0; }
#apijsBox.upload div.control.online label.browse { position:absolute; left:0; display:inline-block; font-size:0.85em; cursor:pointer; outline:none; }

#apijsBox.upload div.control.online div.status { margin:1em 0 1.5em -14em; font-size:0.85em; color:red; }

#apijsBox.upload div.control.online span.filename {
	display:inline-block; padding-top:0.5em; vertical-align:top;
	font-size:0.85em; hyphens:auto; -moz-hyphens:auto; -ms-hyphens:auto; -webkit-hyphens:auto; word-wrap:break-word;
}

#apijsBox.empty div.close { top:0.3em; right:0.3em; }

/* &&&&&&&&&&&&&& barre de progression &&& */
#apijsBox.progress svg {
	display:block; position:relative; margin:1.1em auto; width:80%;
	border:1px solid #333; background-color:#AAA;
}

#apijsBox.progress svg text {
	display:block; position:relative; text-align:center;
	font-size:0.85em; line-height:198%; color:black;
}

#apijsBox.progress svg rect {
	display:block; position:absolute; top:0; left:0; bottom:0;
	background-color:#03FF00; background-size:28px 100%;
	background:repeating-linear-gradient(-45deg, #03FF00 0, #03FF00 10px, #00EF00 10px, #00EF00 20px);
	background:-moz-repeating-linear-gradient(-45deg, #03FF00 0, #03FF00 10px, #00EF00 10px, #00EF00 20px);
	background:-webkit-repeating-linear-gradient(-45deg, #03FF00 0, #03FF00 10px, #00EF00 10px, #00EF00 20px);
}

#apijsBox.progress svg rect.auto {
	animation:apijsProgress 10s infinite linear; -moz-animation:apijsProgress 10s infinite linear;
	-webkit-animation:apijsProgress 10s infinite linear;
}

#apijsBox.progress svg rect.end {
	width:100%;
	animation:apijsProgress 10s infinite 3s linear; -moz-animation:apijsProgress 10s infinite 3s linear;
	-webkit-animation:apijsProgress 10s infinite 3s linear;
}

/* &&&&&&&&&&&&&&&&&&&&&&&& émoticônes &&& */
#apijsBox div.bbcode.emotes span.ico { vertical-align:bottom; font:1.1em icomoon; text-transform:none; }

@font-face {
	/* http://icomoon.io/app/, session ../fonts/icomoon.json */
	src:url("../fonts/icomoon.ttf") format("truetype");
	font-family:icomoon; font-style:normal; font-weight:normal;
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&& boutons &&& */
#apijsBox button {
	font-size:0.85em; white-space:nowrap; cursor:pointer;
	transition:border 0.4s, background-color 0.4s, color 0.4s, opacity 0.4s;
	-moz-transition:border 0.4s, background-color 0.4s, color 0.4s, opacity 0.4s;
	-webkit-transition:border 0.4s, background-color 0.4s, color 0.4s, opacity 0.4s;
}

#apijsBox button:hover, #apijsBox button:active, #apijsBox button:focus { outline:none; }
#apijsBox button::-moz-focus-inner { border:none; }


/* ################################################## Boutons de contrôle ### */
#apijsBox div.control { position:absolute; right:0.8em; bottom:0.6em; }

#apijsBox div.control button, #apijsBox div.control label.browse {
	padding:0 0.7em 0 26px; min-height:24px; line-height:218%;
	color:black; border:1px solid #BBB; border-radius:0.4em; background-color:#E2E2E2;
	background-position:left center; background-size:24px;
}

#apijsBox div.control button.cancel  { background-image:url("../images/apijs/humanity-sprites.svg#dialog-no"); float:left; margin-right:0.5em; }
#apijsBox div.control button.confirm { background-image:url("../images/apijs/humanity-sprites.svg#dialog-ok"); }
#apijsBox div.control .browse        { background-image:url("../images/apijs/humanity-sprites.svg#browser-upload"); }

#apijsBox div.control label.browse:hover, #apijsBox div.control label.browse:active, #apijsBox div.control label.browse:focus,
#apijsBox div.control button:hover, #apijsBox div.control button:active, #apijsBox div.control button:focus { border-color:#777; background-color:#F6F6F6; }

#apijsBox div.control label.browse:focus,
#apijsBox div.control button:focus { animation:apijsFocus 1s infinite; -moz-animation:apijsFocus 1s infinite; -webkit-animation:apijsFocus 1s infinite; }

#apijsBox div.control label.browse:focus:hover,
#apijsBox div.control button:focus:hover { animation:inherit; -moz-animation:inherit; -webkit-animation:inherit; }


/* ############################################# Dialogues photo et vidéo ### */
#apijsMedia {
	display:block; position:absolute; top:0; right:0; bottom:0; left:0; margin:1.6em auto 5em;
	width:88%; height:calc(100% - 6.6em); height:-moz-calc(100% - 6.6em); height:-webkit-calc(100% - 6.6em);
}

#apijsBox dl.media dt div.img { background-position:center; }
#apijsBox dl.media dt div.img.bis { background-size:contain; }

#apijsBox dl.media dt video { width:auto; background-color:black; }
#apijsBox dl.media dt video.bis { width:88%; }

#apijsBox dl.media dd { position:absolute; right:5%; bottom:2.8em; left:5%; line-height:18px; color:#DDD; }
#apijsBox dl.media dd span { margin-right:0.6em; font-size:0.85em; color:#AAA; }

/* &&&&&&&&&&&&&&&&& chargement/erreur &&& */
#apijsMedia span { display:none; }
#apijsMedia span:first-line { font-size:2.5em; }

#apijsMedia.error span {
	display:inline-block; position:relative; top:35%; width:14em; text-align:left;
	transform:rotate(-20deg); -moz-transform:rotate(-20deg); -ms-transform:rotate(-20deg); -webkit-transform:rotate(-20deg);
	font-size:1.5em; color:red; white-space:pre;
}

#apijsMedia.loading span {
	display:inline-block; position:relative; top:50%; margin-top:-5em; width:3em; height:3em;
	border-radius:50%; animation:apijsLoading 2s infinite linear 0.5s; -moz-animation:apijsLoading 2s infinite linear 0.5s;
	-webkit-animation:apijsLoading 2s infinite linear 0.5s;
}

#apijsMedia.loading { cursor:progress; }

/* &&&&&&&&&&&&& boutons de navigation &&& */
#apijsBox div.navigation button {
	position:absolute; top:0; bottom:0; padding-bottom:2.5%; width:3%; min-width:2.4em;
	color:#DDD; border:none; background-color:#222; opacity:0.6;
}

#apijsBox div.navigation button[disabled] { display:none; }
#apijsBox div.navigation button:hover, #apijsBox div.navigation button:active, #apijsBox div.navigation button:focus { opacity:1; }

#apijsBox div.navigation button.prev { left:0; }
#apijsBox div.navigation button.prev span {
	display:block; transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);
}

#apijsBox div.navigation button.next { right:0; }
#apijsBox div.navigation button.next span {
	display:block; transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg); -webkit-transform:rotate(90deg);
}

/* &&&&&&&&&&&&&&& bouton de fermeture &&& */
#apijsBox div.close { position:absolute; top:0.6em; right:0.6em; z-index:99600; }

#apijsBox div.close.txt button {
	padding:0 0.7em; min-height:20px;
	font-size:0.8em; line-height:190%; font-weight:bold; text-transform:uppercase;
	color:white; border:2px solid white; border-radius:0.8em; background-color:black;
}

#apijsBox div.close.txt button:after { content:" / X"; }
#apijsBox div.close.txt button:hover, #apijsBox div.close.txt button:active, #apijsBox div.close.txt button:focus { color:#999; border-color:#BBB; }

#apijsBox div.close.img button { border:none; background:none; }
#apijsBox div.close.img button img { font-size:0.7em; color:#999; }

/* &&&&&&&&&&&&& navigation au clavier &&& */
#apijsBox div.kbd {
	position:fixed; right:0; bottom:0; left:0; overflow:hidden; z-index:99600;
	white-space:nowrap; background-color:#555; cursor:default;
}

#apijsBox div.kbd ul { margin:0; list-style:none; }
#apijsBox div.kbd li { display:inline-block; margin:0.1em 0 0.15em; font-size:0.8em; line-height:200%; }

#apijsBox kbd {
	display:inline; margin:0 0.4em 0 1em; padding:0.1em 0.25em 0.1em 0.3em;
	font-size:1.1em; font-weight:bold; text-transform:uppercase; cursor:default;
	border:none; border-radius:0.6em; background-color:#888;
}

#apijsBox kbd + kbd { margin:0 0.4em 0 -0.2em; }
#apijsBox kbd[class] { padding:0.1em 8px; background-position:center; }
#apijsBox kbd.top { background-image:url("data:image/gif;base64,R0lGODlhCgAKAIABAAAAAP///yH5BAEKAAEALAAAAAAKAAoAAAIUjANwm7nYnIkR0sbUm3pL3z1fUAAAOw=="); }
#apijsBox kbd.bot { background-image:url("data:image/gif;base64,R0lGODlhCgAKAIABAAAAAP///yH5BAEKAAEALAAAAAAKAAoAAAIUjANwi8qWHnQvnoSz0vhqlkmWUQAAOw=="); }
#apijsBox kbd.left { background-image:url("data:image/gif;base64,R0lGODlhCgAKAIABAAAAAP///yH5BAEKAAEALAAAAAAKAAoAAAITjAOnmMutgIRm2ovlo2e6ykVLAQA7"); }
#apijsBox kbd.right { background-image:url("data:image/gif;base64,R0lGODlhCgAKAIABAAAAAP///yH5BAEKAAEALAAAAAAKAAoAAAIRjA2nmMu9gEyz2ivjdJvDqBQAOw=="); }
#apijsBox kbd.start { background-image:url("data:image/gif;base64,R0lGODlhCgAKAIABAAAAAP///yH5BAEKAAEALAAAAAAKAAoAAAITjI8By3C9EExTVhNVVtYl7H1HAQA7"); }
#apijsBox kbd.less { background-image:url("data:image/gif;base64,R0lGODlhCgAKAIABAAAAAP///yH5BAEKAAEALAAAAAAKAAoAAAIMjI+pywkPn4mx2XsLADs="); }
#apijsBox kbd.more { background-image:url("data:image/gif;base64,R0lGODlhCgAKAIABAAAAAP///yH5BAEKAAEALAAAAAAKAAoAAAIRjI8IkLdtnlpU1ppk05nBVgAAOw=="); }


/* ########################################################### Animations ### */
@keyframes         apijsSaving { 40% { color:#CCC; } }
@-moz-keyframes    apijsSaving { 40% { color:#CCC; } }
@-webkit-keyframes apijsSaving { 40% { color:#CCC; } }

@keyframes         apijsProgress { 0% { width:20%; } 50% { left:80%; } 100% { width:20%; } }
@-moz-keyframes    apijsProgress { 0% { width:20%; } 50% { left:80%; } 100% { width:20%; } }
@-webkit-keyframes apijsProgress { 0% { width:20%; } 50% { left:80%; } 100% { width:20%; } }

@keyframes         apijsFocus { 50% { border-color:#BBB; } }
@-moz-keyframes    apijsFocus { 50% { border-color:#BBB; } }
@-webkit-keyframes apijsFocus { 50% { border-color:#BBB; } }

@keyframes         apijsLoading { 30% { width:4em; background-color:#888; } }
@-moz-keyframes    apijsLoading { 30% { width:4em; background-color:#888; } }
@-webkit-keyframes apijsLoading { 30% { width:4em; background-color:#888; } }


/* ######################################################## Media queries ### **
 * max-width = #apijsBox.width (26rem) + 6
 */
@media screen and (max-width:32rem),(max-device-width:32rem) {

	#apijsDialog, #apijsBox { transition:none; -moz-transition:none; -webkit-transition:none; }
	#apijsBox:not(.photo):not(.video) { position:absolute; top:1.5em; left:1em; bottom:2em; right:1em; width:auto; min-height:inherit; }

	#apijsBox h1 { padding-left:51px; min-height:42px; line-height:42px; font-size:1.7em; background-size:42px; }
	#apijsBox p.reload { font-size:inherit; }
	#apijsBox p.saving, #apijsBox.waiting div.bbcode p { font-size:1.2em; }

	#apijsBox.upload div.control.online { padding:1em 0 0; }
	#apijsBox.upload div.control.online div.status { margin:1em 0; font-size:1em; }
	#apijsBox.upload div.control.online span.filename { float:inherit; display:block; padding-top:2.2em; width:auto; font-size:1em; }

	#apijsBox div.control button { padding:0 0.8em 0 37px; min-height:36px; font-size:1.3em; background-size:36px; }
	#apijsBox div.control button:focus { animation:inherit; -moz-animation:inherit; -webkit-animation:inherit; }
	#apijsBox div.navigation.txt button { font-size:0.95em; }
}

/* stupid webkit, it doesn't support SVG fragment identifier for SVG sprites */
@media screen and (-webkit-min-device-pixel-ratio:0) {

	#apijsBox.information  h1 { background-image:url("../images/apijs/humanity-dialog-information.svg"); }
	#apijsBox.confirmation h1 { background-image:url("../images/apijs/humanity-dialog-question.svg"); }
	#apijsBox.options  h1 { background-image:url("../images/apijs/humanity-preferences-system.svg"); }
	#apijsBox.upload   h1 { background-image:url("../images/apijs/humanity-document-new.svg"); }
	#apijsBox.progress h1 { background-image:url("../images/apijs/humanity-clock.svg"); }
	#apijsBox.waiting  h1 { background-image:url("../images/apijs/humanity-clock.svg"); }
	#apijsBox.debug    h1 { background-image:url("../images/apijs/humanity-bug.svg"); }
	#apijsBox.download h1 { background-image:url("../images/apijs/humanity-document-save.svg"); }
	#apijsBox.error    h1 { background-image:url("../images/apijs/humanity-dialog-error.svg"); }
	#apijsBox.print    h1 { background-image:url("../images/apijs/humanity-document-print.svg"); }
	#apijsBox.warning  h1 { background-image:url("../images/apijs/humanity-dialog-warning.svg"); }

	#apijsBox div.control button { background-position:4px center; background-size:16px; }
	#apijsBox div.control button.cancel  { background-image:url("../images/apijs/humanity-dialog-no.svg"); }
	#apijsBox div.control button.confirm { background-image:url("../images/apijs/humanity-dialog-ok.svg"); }
	#apijsBox div.control button.browse  { background-image:url("../images/apijs/humanity-browser-upload.svg"); }

	@media screen and (max-width:32rem),(max-device-width:32rem) {
		#apijsBox div.control button { background-position:6px center; background-size:24px; }
	}
}