/**
 * Created V/08/05/2009
 * Updated V/11/02/2011
 * Version 21
 *
 * Copyright 2008-2011 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * http://www.luigifab.info/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* ################################################ Conteneurs (thème 1) ### */
#dialogue {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9000;
	transition-duration:1s, 0.3s; -moz-transition-duration:1s, 0.3s; -webkit-transition-duration:1s, 0.3s;
	transition-property:background-color, opacity; -moz-transition-property:background-color, opacity;
	-webkit-transition-property:background-color, opacity;
	color:black; background-color:transparent; opacity:0;
}

#box {
	position:relative; top:26%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden; opacity:0.85;
	background-color:white; border-radius:0.8em; -khtml-border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	box-shadow:0 0 2.5em #111; -moz-box-shadow:0 0 2.5em #111; -webkit-box-shadow:0 0 2.5em #111;
	transition-duration:1s; -moz-transition-duration:1s; -webkit-transition-duration:1s;
	transition-property:top; -moz-transition-property:top; -webkit-transition-property:top;
}

#box.photo, #box.video { top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible; opacity:1; }
#box.upload, #box.eeupload, #box.progress { min-height:12em; }
#box.download, #box.options { top:23%; }

#box.photo.slideshow, #box.video.slideshow { border:2px solid #999; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }
#dialogue.slideshow { background-color:black !important; }


#dialogue.actif { background-color:black; background-color:rgba(0, 0, 0, 0.65); opacity:1; }
#dialogue.actif #box:not(.photo):not(.video) { top:28%; }
#dialogue.actif #box.download, #dialogue.actif #box.options { top:25% !important; }

#dialogue.deleting { transition-duration:0.4s, 0.3s; -moz-transition-duration:0.4s, 0.3s; -webkit-transition-duration:0.4s, 0.3s; }
#dialogue.deleting #box { transition-duration:0.4s; -moz-transition-duration:0.4s; -webkit-transition-duration:0.4s; }

#dialogue.deleting #box:not(.photo):not(.video) { top:30%; }
#dialogue.deleting #box.download, #dialogue.deleting #box.options { top:27%; }


/* ################################################ Conteneurs (thème 2) ### **
#dialogue {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9000;
	transition-duration:1s, 0.3s; -moz-transition-duration:1s, 0.3s; -webkit-transition-duration:1s, 0.3s;
	transition-property:background, opacity; -moz-transition-property:background, opacity;
	-webkit-transition-property:background, opacity;
	color:black; background:none; opacity:0;
}

#box {
	position:relative; top:26%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden;
	background-color:white; border-radius:0.8em; -khtml-border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	box-shadow:0 0 2.5em #BBB; -moz-box-shadow:0 0 2.5em #BBB; -webkit-box-shadow:0 0 2.5em #BBB;
	transition-duration:1s; -moz-transition-duration:1s; -webkit-transition-duration:1s;
	transition-property:top; -moz-transition-property:top; -webkit-transition-property:top;
}

#box.photo, #box.video { top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible; }
#box.upload, #box.eeupload, #box.progress { min-height:12em; }
#box.download, #box.options { top:23%; }

#box.photo.slideshow, #box.video.slideshow { border:2px solid #999; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }


#dialogue.actif { background:#DDD url("../images/dialogue/background.png") no-repeat; opacity:1; }
#dialogue.actif #box:not(.photo):not(.video) { top:28%; }
#dialogue.actif #box.download, #dialogue.actif #box.options { top:25%; }

#dialogue.deleting { transition-duration:0.4s, 0.3s; -moz-transition-duration:0.4s, 0.3s; -webkit-transition-duration:0.4s, 0.3s; }
#dialogue.deleting #box { transition-duration:0.4s; -moz-transition-duration:0.4s; -webkit-transition-duration:0.4s; }

#dialogue.deleting #box:not(.photo):not(.video) { top:30%; }
#dialogue.deleting #box.download, #dialogue.deleting #box.options { top:27%; } */


/* ############################################################## Icônes ### */
#box.information  h1 { background-image:url("../images/icons/32/gnome-dialog-information.png"); }
#box.confirmation h1 { background-image:url("../images/icons/32/gnome-dialog-question.png"); }
#box.options  h1 { background-image:url("../images/icons/32/gnome-preferences-other.png"); }
#box.waiting  h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }
#box.upload   h1 { background-image:url("../images/icons/32/gnome-mail-new.png"); }
#box.eeupload h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.progress h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }

#box.delete   h1 { background-image:url("../images/icons/32/gnome-delete.png"); }
#box.download h1 { background-image:url("../images/icons/32/gnome-save.png"); }
#box.error    h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.print    h1 { background-image:url("../images/icons/32/gnome-document-print.png"); }
#box.warning  h1 { background-image:url("../images/icons/32/gnome-dialog-warning.png"); }


/* ############################################################### Texte ### */
#box h1 {
	margin:0.15em 0 0.7em; padding-left:41px; line-height:32px;
	font-size:1.6em; font-weight:bold; color:black;
	background-repeat:no-repeat; background-position:center left;
}

#box p {
	margin:1em auto;
	font-size:1em; line-height:1.4em;
}

#box p.saving {
	position:absolute; bottom:6em; left:7em; margin:0; padding-left:23px; height:16px;
	font-size:0.85em; color:#333; line-height:1.45em;
	background:url("../images/dialogue/saving.png") no-repeat left center;
}

#box p.reload {
	position:absolute; right:1em; bottom:0.7em; margin:0;
	font-size:0.8em; color:#333; line-height:1.45em;
}

#box p.reload a { color:#104E8B; }

#box pre {
	margin:1em auto;
	font-size:0.85em; line-height:1.4em;
}

#box dl { margin:3px auto; color:#333; }
#box dt { margin-bottom:7px; }
#box dd { overflow:hidden; }

#box ul { margin:-0.4em auto 1em; }


/* ################################################# Boutons de contrôle ### */
#box div.control { position:absolute; right:0.8em; bottom:0.6em; }

#box div.control button {
	margin-left:0.45em; padding:0.2em 0.7em 0.2em 25px;
	font-size:0.85em; color:black; cursor:pointer;
	border:1px solid #BBB; background-color:#E2E2E2; background-repeat:no-repeat; background-position:4px center;
	border-radius:0.4em; -khtml-border-radius:0.4em; -moz-border-radius:0.4em; -webkit-border-radius:0.4em;
	transition-duration:0.5s, 0.5s; -moz-transition-duration:0.5s, 0.5s; -webkit-transition-duration:0.5s, 0.5s;
	transition-property:border, background-color; -moz-transition-property:border, background-color;
	-webkit-transition-property:border, background-color;
}

#box div.control button.cancel  { background-image:url("../images/icons/16/silk-cancel.png"); }
#box div.control button.confirm { background-image:url("../images/icons/16/silk-accept.png"); }

#box div.control button:hover, #box div.control button:active, #box div.control button:focus { border:1px solid #AAA; background-color:#EFEFEF; }


/* ############################################### Boutons de navigation ### */
#box div.navigation.txt button {
	position:absolute; top:42%; padding:0.4em 0; width:7em; opacity:0.30;
	font-size:0.8em; color:#CCC; text-align:center; cursor:pointer;
	border:none; background-color:#444;
	transition-duration:0.5s; -moz-transition-duration:0.5s; -webkit-transition-duration:0.5s;
	transition-property:opacity; -moz-transition-property:opacity; -webkit-transition-property:opacity;
}

#box div.navigation.txt button#prev {
	left:-4.9em;
	border-radius:1em 1em 0.4em 0.4em; -khtml-border-radius:1em 1em 0.4em 0.4em;
	-moz-border-radius:1em 1em 0.4em 0.4em; -webkit-border-radius:1em 1em 0.4em 0.4em;
	transform:rotate(-90deg); -khtml-transform:rotate(-90deg);  -moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);
}

#box div.navigation.txt button#next {
	right:-4.91em;
	border-radius:1em 1em 0.4em 0.4em; -khtml-border-radius:1em 1em 0.4em 0.4em;
	-moz-border-radius:1em 1em 0.4em 0.4em; -webkit-border-radius:1em 1em 0.4em 0.4em;
	transform:rotate(90deg); -khtml-transform:rotate(90deg); -moz-transform:rotate(90deg);
	-o-transform:rotate(90deg); -webkit-transform:rotate(90deg);
}

#box div.navigation.img button {
	position:absolute; top:40%; padding:0; width:25px; height:50px; opacity:0.30;
	font-size:0.85em; color:#CCC; cursor:pointer;
	border:none; background-color:transparent;
	transition-duration:0.5s; -moz-transition-duration:0.5s; -webkit-transition-duration:0.5s;
	transition-property:opacity; -moz-transition-property:opacity; -webkit-transition-property:opacity;
}

#box div.navigation.img button#prev { left:-2.9em; }
#box div.navigation.img button#next { right:-2.9em; }

#box div.navigation button[disabled] { display:none; }

#box div.navigation.txt button:hover, #box div.navigation.txt button:focus, #box div.navigation.txt button:active { opacity:0.70; }
#box div.navigation.img button:hover, #box div.navigation.img button:focus, #box div.navigation.img button:active { opacity:0.80; }


/* ################################################### Dialogue d'upload ### */
#box.progress object {
	display:block; margin:1.1em auto;
	border:1px solid black; background-color:#AAA;
}

#iframeUpload { display:none; }


/* ############################################ Dialogues photo et vidéo ### */
#box.video dl dt video { display:block; color:white; background-color:black; }
#box.photo dl dt a { display:block; position:relative; }

#box.photo dl dt a span {
	display:inline-block; position:absolute; right:5px; bottom:5px; width:24px; height:24px; opacity:0;
	background:transparent url("../images/icons/24/gnome-zoom-in.png") no-repeat center;
	transition-duration:0.6s; -moz-transition-duration:0.6s; -webkit-transition-duration:0.6s;
	transition-property:opacity; -moz-transition-property:opacity; -webkit-transition-property:opacity;
}

#box.photo dl dt a:hover span, #box.photo dt a:active span, #box.photo dt a:focus span { opacity:0.75; }

#box.photo dl dt img { display:block; }
#box.photo dl dt img.loading  { background:white url("../images/dialogue/loading.png") no-repeat center; }
#box.photo dl dt img.error_de { background:white url("../images/dialogue/error/de.png") no-repeat center; }
#box.photo dl dt img.error_en { background:white url("../images/dialogue/error/en.png") no-repeat center; }
#box.photo dl dt img.error_fr { background:white url("../images/dialogue/error/fr.png") no-repeat center; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&& lien de téléchargement &&& */
#box dl dd a.download {
	float:right; margin:0.35em 0.4em 0;
	font-size:0.7em; color:#AAA;
	transition-duration:0.4s; -moz-transition-duration:0.4s; -webkit-transition-duration:0.4s;
	transition-property:color; -moz-transition-property:color; -webkit-transition-property:color;
}

#box dl dd a.download:hover, #box dl dd a.download:active, #box dl dd a.download:focus { color:#777; }
#box dl dd span { margin-right:0.2em; font-size:0.85em; color:#777; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&& bouton de fermeture &&& */
#box div.close { position:absolute; top:3px; right:3px; z-index:9050; }

#box div.close button.close {
	margin:0 0 5em 4em;
	border:none; background:none; cursor:pointer;
}

#box div.close button.close img {
	font-size:0.7em; color:#999;
	text-transform:uppercase; text-align:center;
}

