/**
 * Created V/08/05/2009
 * Updated J/14/06/2012
 * Version 39
 *
 * Copyright 2008-2012 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * http://www.luigifab.info/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* ################################################ Conteneurs (thème 1) ### */
#dialog {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9000; opacity:0;
	transition-duration:0.8s, 0.3s; -moz-transition-duration:0.8s, 0.3s;
	-ms-transition-duration:0.8s, 0.3s; -o-transition-duration:0.8s, 0.3s; -webkit-transition-duration:0.8s, 0.3s;
	transition-property:background-color, opacity; -moz-transition-property:background-color, opacity; -ms-transition-property:background-color, opacity;
	-o-transition-property:background-color, opacity; -webkit-transition-property:background-color, opacity;
	color:black; background-color:transparent;
}

#box {
	position:relative; top:27%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden; opacity:0.9;
	background-color:white; border-radius:0.8em; -khtml-border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
	box-shadow:0 0 30px #111; -moz-box-shadow:0 0 30px #111; -webkit-box-shadow:0 0 30px #111;
	transition-duration:0.5s; -moz-transition-duration:0.5s; -ms-transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s;
	transition-property:top; -moz-transition-property:top; -ms-transition-property:top; -o-transition-property:top; -webkit-transition-property:top;
}

#box.photo, #box.video { top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible; opacity:1; }
#box.upload, #box.eeupload, #box.progress { min-height:12em; }
#box.download, #box.options { top:21%; }

#box.photo.slideshow, #box.video.slideshow { border:2px solid #999; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }
#dialog.slideshow { background-color:black !important; }

#dialog.actif { background-color:black; background-color:rgba(0, 0, 0, 0.65); opacity:1; }
#dialog.actif #box.download, #dialog.actif #box.options { top:22% !important; }
#dialog.actif #box:not(.photo):not(.video) { top:28%; }

#dialog.deleting {
	transition-duration:0.4s, 0.3s; -moz-transition-duration:0.4s, 0.3s; -ms-transition-duration:0.4s, 0.3s;
	-o-transition-duration:0.4s, 0.3s; -webkit-transition-duration:0.4s, 0.3s;
}

#dialog.deleting #box {
	transition-duration:0.4s; -moz-transition-duration:0.4s; -ms-transition-duration:0.4s;
	-o-transition-duration:0.4s; -webkit-transition-duration:0.4s;
}

#dialog.deleting #box.download, #dialog.deleting #box.options { top:24% !important; }
#dialog.deleting #box:not(.photo):not(.video) { top:30%; }


/* ################################################ Conteneurs (thème 2) ### **
#dialog {
	position:fixed; top:0; right:0; bottom:0; left:0; width:100%; height:100%; z-index:9000; opacity:0;
	transition-duration:0.8s, 0.3s; -moz-transition-duration:0.8s, 0.3s;
	-ms-transition-duration:0.8s, 0.3s; -o-transition-duration:0.8s, 0.3s; -webkit-transition-duration:0.8s, 0.3s;
	transition-property:background-color, opacity; -moz-transition-property:background-color, opacity; -ms-transition-property:background-color, opacity;
	-o-transition-property:background-color, opacity; -webkit-transition-property:background-color, opacity;
	color:black; background:none;
}

#box {
	position:relative; top:27%; margin:auto; padding:0.6em 0.8em 2.4em; width:33em; min-height:9em; overflow:hidden;
	background-color:white; border-radius:0.8em; -khtml-border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
	box-shadow:0 0 30px #BBB; -moz-box-shadow:0 0 30px #BBB; -webkit-box-shadow:0 0 30px #BBB;
	transition-duration:0.5s; -moz-transition-duration:0.5s; -ms-transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s;
	transition-property:top; -moz-transition-property:top; -ms-transition-property:top; -o-transition-property:top; -webkit-transition-property:top;
}

#box.photo, #box.video { top:50%; left:50%; padding:10px 10px 5px; width:auto; min-height:inherit; overflow:visible; }
#box.upload, #box.eeupload, #box.progress { min-height:12em; }
#box.download, #box.options { top:21%; }

#box.photo.slideshow, #box.video.slideshow { border:2px solid #999; box-shadow:none; -moz-box-shadow:none; -webkit-box-shadow:none; }

#dialog.actif { background:#DDD url("../images/dialog/background.png") no-repeat; opacity:1; }
#dialog.actif #box.download, #dialog.actif #box.options { top:22% !important; }
#dialog.actif #box:not(.photo):not(.video) { top:28%; }

#dialog.deleting {
	transition-duration:0.4s, 0.3s; -moz-transition-duration:0.4s, 0.3s; -ms-transition-duration:0.4s, 0.3s;
	-o-transition-duration:0.4s, 0.3s; -webkit-transition-duration:0.4s, 0.3s;
}

#dialog.deleting #box {
	transition-duration:0.4s; -moz-transition-duration:0.4s; -ms-transition-duration:0.4s;
	-o-transition-duration:0.4s; -webkit-transition-duration:0.4s;
}

#dialog.deleting #box.download, #dialog.deleting #box.options { top:24% !important; }
#dialog.deleting #box:not(.photo):not(.video) { top:30%; } */


/* ############################################################### Texte ### */
#box h1 {
	margin:0.15em 0 0.7em; padding-left:41px; height:32px; line-height:32px;
	font-size:1.5em; font-weight:bold; color:black;
	background-image:url("../images/icons/32/sprites.png"); background-repeat:no-repeat;
}

#box p {
	margin:1em auto;
	font-size:1em; line-height:1.4em;
}

#box p.saving {
	position:absolute; bottom:6em; left:7em; margin:0; padding-left:23px; height:16px;
	font-size:0.85em; color:#333; line-height:1.45em;
	background:url("../images/dialog/saving.png") no-repeat left center;
}

#box p.reload {
	position:absolute; right:1em; bottom:0.7em; margin:0;
	font-size:0.8em; color:#333; line-height:1.45em;
}

#box p.reload a { color:#104E8B; }
#box p abbr { border-bottom:none; }

#box pre {
	margin:1em auto;
	font-size:0.85em; line-height:1.4em;
}

#box dl { margin:3px auto; color:#333; }
#box dl dt { margin-bottom:7px; }
#box dl dd { overflow:hidden; }

#box ul { margin:-0.4em auto 1em; }


/* ############################################################## Icônes ### */
#box.information  h1 { background-position:0 -99px; }
#box.confirmation h1 { background-position:0 -132px; }
#box.options  h1 { background-position:0 -264px; }
#box.waiting  h1 { background-position:0 0; }
#box.upload   h1 { background-position:0 -231px; }
#box.eeupload h1 { background-position:0 -66px; }
#box.progress h1 { background-position:0 0; }

#box.delete   h1 { background-position:0 -33px; }
#box.download h1 { background-position:0 -297px; }
#box.error    h1 { background-position:0 -66px; }
#box.print    h1 { background-position:0 -198px; }
#box.warning  h1 { background-position:0 -165px; }

/* #box.information  h1 { background-image:url("../images/icons/32/gnome-dialog-information.png"); }
#box.confirmation h1 { background-image:url("../images/icons/32/gnome-dialog-question.png"); }
#box.options  h1 { background-image:url("../images/icons/32/gnome-preferences-other.png"); }
#box.waiting  h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }
#box.upload   h1 { background-image:url("../images/icons/32/gnome-mail-new.png"); }
#box.eeupload h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.progress h1 { background-image:url("../images/icons/32/gnome-appointment-soon.png"); }

#box.delete   h1 { background-image:url("../images/icons/32/gnome-delete.png"); }
#box.download h1 { background-image:url("../images/icons/32/gnome-save.png"); }
#box.error    h1 { background-image:url("../images/icons/32/gnome-dialog-error.png"); }
#box.print    h1 { background-image:url("../images/icons/32/gnome-document-print.png"); }
#box.warning  h1 { background-image:url("../images/icons/32/gnome-dialog-warning.png"); } */


/* ################################################# Boutons de contrôle ### */
#box div.control { position:absolute; right:0.8em; bottom:0.6em; }

#box div.control button {
	margin-left:0.45em; padding:0.2em 0.7em 0.2em 25px;
	font-size:0.85em; color:black; cursor:pointer;
	border:1px solid #BBB; background-color:#E2E2E2; background-repeat:no-repeat; background-position:4px center;
	border-radius:0.4em; -khtml-border-radius:0.4em; -moz-border-radius:0.4em; -webkit-border-radius:0.4em;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
	transition-duration:0.5s, 0.5s; -moz-transition-duration:0.5s, 0.5s; -ms-transition-duration:0.5s, 0.5s;
	-o-transition-duration:0.5s, 0.5s; -webkit-transition-duration:0.5s, 0.5s;
	transition-property:border, background-color; -moz-transition-property:border, background-color;
	-ms-transition-property:border, background-color; -o-transition-property:border, background-color; -webkit-transition-property:border, background-color;
}

#box div.control button.cancel { background-image:url("../images/icons/16/silk-cancel.png"); float:left; }
#box div.control button.confirm { background-image:url("../images/icons/16/silk-accept.png"); }

#box div.control button:hover, #box div.control button:active, #box div.control button:focus { border:1px solid #AAA; background-color:#F2F2F2; }


/* ############################################### Boutons de navigation ### */
#box div.navigation.txt button {
	position:absolute; top:42%; padding:0.4em 0; width:7em; opacity:0.3;
	font-size:0.8em; color:#CCC; text-align:center; cursor:pointer; border:none; background-color:#444;
	transition-duration:0.5s; -moz-transition-duration:0.5s; -ms-transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s;
	transition-property:opacity; -moz-transition-property:opacity; -ms-transition-property:opacity; -o-transition-property:opacity;
	-webkit-transition-property:opacity;
}

#box div.navigation.txt button#prev {
	left:-4.75em;
	border-radius:1em 1em 0.4em 0.4em; -khtml-border-radius:1em 1em 0.4em 0.4em;
	-moz-border-radius:1em 1em 0.4em 0.4em; -webkit-border-radius:1em 1em 0.4em 0.4em;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
	transform:rotate(-90deg); -khtml-transform:rotate(-90deg); -moz-transform:rotate(-90deg); -ms-transform:rotate(-90deg);
	-o-transform:rotate(-90deg); -webkit-transform:rotate(-90deg);
}

#box div.navigation.txt button#next {
	right:-4.75em;
	border-radius:1em 1em 0.4em 0.4em; -khtml-border-radius:1em 1em 0.4em 0.4em;
	-moz-border-radius:1em 1em 0.4em 0.4em; -webkit-border-radius:1em 1em 0.4em 0.4em;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
	transform:rotate(90deg); -khtml-transform:rotate(90deg); -moz-transform:rotate(90deg); -ms-transform:rotate(90deg);
	-o-transform:rotate(90deg); -webkit-transform:rotate(90deg);
}

#box div.navigation.img button {
	position:absolute; top:40%; padding:0; width:25px; height:50px; opacity:0.3;
	font-size:0.85em; color:#CCC; cursor:pointer; border:none; background-color:transparent;
	transition-duration:0.5s; -moz-transition-duration:0.5s; -ms-transition-duration:0.5s; -o-transition-duration:0.5s; -webkit-transition-duration:0.5s;
	transition-property:opacity; -moz-transition-property:opacity; -ms-transition-property:opacity; -o-transition-property:opacity;
	-webkit-transition-property:opacity;
}

#box div.navigation.txt button#next, x:-moz-any-link { right:-4.85em; }
#box div.navigation.img button#next { right:-32px; }
#box div.navigation.img button#prev { left:-32px; }

#box div.navigation button[disabled] { display:none; }

#box div.navigation.txt button:hover, #box div.navigation.txt button:active, #box div.navigation.txt button:focus { opacity:0.7; }
#box div.navigation.img button:hover, #box div.navigation.img button:active, #box div.navigation.img button:focus { opacity:0.8; }


/* ################################################### Dialogue d'upload ### */
#box.progress object, #box.progress embed {
	display:block; margin:1.1em auto;
	border:1px solid #333; background-color:#AAA;
}

#iframeUpload { display:none; }


/* ############################################ Dialogues photo et vidéo ### */
#box.photo dl dt a { display:block; position:relative; }

#box.photo dl dt a span {
	display:inline-block; position:absolute; right:5px; bottom:5px; width:24px; height:24px; opacity:0;
	background:transparent url("../images/icons/24/gnome-zoom-in.png") no-repeat center;
	transition-duration:0.5s; -moz-transition-duration:0.6s; -ms-transition-duration:0.6s; -o-transition-duration:0.6s; -webkit-transition-duration:0.6s;
	transition-property:opacity; -moz-transition-property:opacity; -ms-transition-property:opacity; -o-transition-property:opacity;
	-webkit-transition-property:opacity;
}

#box.photo dl dt a:hover span, #box.photo dt a:active span, #box.photo dt a:focus span { opacity:0.75; }

#box.photo dl dt img { display:block; }
#box.photo dl dt img.loading  { background:white url("../images/dialog/loading.png") no-repeat center; }
#box.photo dl dt img.error_en { background:white url("../images/dialog/404fr.png") no-repeat center; }
#box.photo dl dt img.error_fr { background:white url("../images/dialog/404fr.png") no-repeat center; }

#box.video dl dt video { display:block; color:white; background-color:black; }
#box.video dl dt video p { margin:0; padding:1em; line-height:1.35em; }
#box.video dl dt video a { display:inline; padding:0; min-height:inherit; color:yellow; background:none; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&& lien de téléchargement &&& */
#box dl dd a.download {
	float:right; margin:0.35em 0.4em 0; font-size:0.7em; color:#AAA;
	transition-duration:0.4s; -moz-transition-duration:0.4s; -ms-transition-duration:0.4s; -o-transition-duration:0.4s; -webkit-transition-duration:0.4s;
	transition-property:color; -moz-transition-property:color; -ms-transition-property:color; -o-transition-property:color; -webkit-transition-property:color;
}

#box dl dd a.download:hover, #box dl dd a.download:active, #box dl dd a.download:focus { color:#777; }
#box dl dd span { margin-right:0.2em; font-size:0.85em; color:#777; }

/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&& bouton de fermeture &&& */
#box div.close { position:absolute; top:3px; right:3px; z-index:9050; }

#box div.close.txt button.close {
	margin:0 0 5em 4em; padding:0.2em 0.6em;
	font-size:0.8em; font-weight:bold; text-transform:uppercase; cursor:pointer;
	color:white; border:2px solid white; background:black;
	border-radius:0.8em; -khtml-border-radius:0.8em; -moz-border-radius:0.8em; -webkit-border-radius:0.8em;
	background-clip:padding-box; -moz-background-clip:padding; -webkit-background-clip:padding-box;
}

#box div.close.txt button.close:after { content:" / X"; }

#box div.close.img button.close {
	margin:0 0 5em 4em;
	border:none; background:none; cursor:pointer;
}

#box div.close button.close img {
	font-size:0.7em; color:#999;
	text-transform:uppercase; text-align:center;
}

