/**
 * Created S/06/02/2009
 * Updated L/17/10/2011
 * Version 4
 *
 * Copyright 2008-2011 | Fabrice Creuzot (luigifab) <code~luigifab~info>
 * http://www.luigifab.info/apijs
 *
 * This program is free software, you can redistribute it or modify
 * it under the terms of the GNU General Public License (GPL) as published
 * by the free software foundation, either version 2 of the license, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but without any warranty, without even the implied warranty of
 * merchantability or fitness for a particular purpose. See the
 * GNU General Public License (GPL) for more details.
 */

/* ########################################################## Conteneurs ### */
#mapWrapper {
	position:relative; margin:1.4em auto 2em; width:580px; height:400px; overflow:hidden;
	border:1px solid #DDD; box-shadow:2px 2px 12px #DDD; -moz-box-shadow:2px 2px 12px #DDD; -webkit-box-shadow:2px 2px 12px #DDD;
}

#map { padding-top:22px; width:100%; height:100%; background:white url("../images/map/background.png") no-repeat left bottom; }
#map.fullscreen { position:fixed; top:0; right:0; bottom:0; left:0; padding-top:23px; z-index:8000; }

#mapGeoportal, #mapGoogle {
	position:relative; width:100%; height:100%; overflow:hidden;
	border:none; background-color:#EEE;
}

#mapIntro {
	position:relative; top:50%; margin-top:-4.4em; padding:0.5em;
	background-color:rgb(240, 240, 240); background-color:rgba(240, 240, 240, 0.7);
}

#mapIntro p {
	margin:auto; padding:0; width:26em;
	text-align:center; color:#888;
}

div.gpMainMap { border:none; }


/* ############################################################# Boutons ### */
#map div.control {
	position:absolute; top:0; right:0; margin:0; padding-top:4px; width:100%; height:17px; overflow:hidden;
	font-size:0.8em; text-align:right; border-bottom:1px solid #AEAEAE; background-color:#DEDEDE;
}

#map.fullscreen div.control { padding-top:5px; }

#map div.control button { padding:0; font-size:1em; cursor:pointer; border:none; color:purple; background:none; }
#map div.control button.map { margin:0 0 0 7px; font-weight:bold; }
#map div.control button.close { margin:0 7px 0 10px; }
#map div.control button.other { margin:0 4px; }

#map div.control button.actif, #map div.control button:hover, #map div.control button:active, #map div.control button:focus { color:black; }

#map div.control button[disabled], #map div.control button[disabled]:hover,
#map div.control button[disabled]:active, #map div.control button[disabled]:focus { color:#8D8D8D; cursor:default; }

